@{
    ViewBag.Title = "Index";
}

<h2>Choose error:</h2>


@Html.ActionLink("Attribute Exception", "AttributeError") <br />
@Html.ActionLink("Custom attribute Exception", "CustomHandleError") <br />
@Html.ActionLink("Controller level Exception", "ControllerError") <br />
@Html.ActionLink("Local Exception", "LocalError") <br />
@Html.ActionLink("Global Exception", "GlobalError") <br />
@Html.ActionLink("Any Exception", "AnyError") <br />